@model dynamic
@using StudentApp.Models
@{
    ViewData["Title"] = "Student Adding Page";
}
<h1 class="display-4">Student Adding Page</h1>
<form method="post" action="/Student/Save">
    <div class="mb-3">
        <label for="Class" class="form-label">Class</label>
        <input type="text" class="form-control" id="Class" name="Class">
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" id="Name" name="Name">
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">Address</label>
        <input type="text" class="form-control" id="Address" name="Address">
    </div>
    <div class="mb-3">
        <label for="Age" class="form-label">Age</label>
        <input type="number" class="form-control" id="Age" name="Age">
    </div>
    <div class="mb-3">
        <label for="DepartmentId" class="form-label">Department</label>
        <select class="form-select" id="DepartmentId" name="DepartmentId">
            @foreach (Department department in Model.Departments)
            {
                <option value="@department.Id">@department.Name</option>
            }

        </select>
    </div>
    <div class="mb-3">
        <label for="RankId" class="form-label">Rank</label>
        <select class="form-select" id="RankId" name="RankId">
            @foreach (Rank rank in Model.Ranks)
            {
                <option value="@rank.Id">@rank.Name</option>
            }

        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>